docker/windows/data.img
docker/windows/windows.base
docker/windows/windows.boot
docker/windows/windows.mac
docker/windows/windows.rom
docker/windows/windows.vars
docker/windows/windows.ver
scripts/package-installation.ps1
